body {
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  overflow: hidden;
  background-color: #fff;
  margin-bottom: 36px;
  padding: 18px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid #e6e8eb;
  border-radius: 15px;
}
